.login-page{
    width: 360px;
    padding: 15% 0 0;
    margin: auto;
}

.form{
    background-color: white;
    text-align: center;
    padding: 50px;
}

.form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #c8c4c2;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 14px;
}

p em{
color: #7a7376;
}

.form button{
    text-transform: uppercase;
    background-color: #3598db;
    width: 100%;
    padding: 15px;
    outline: 0;
    border: none;
    color: white;
}

.form .message{
    color: #c8c4c2;
    font-size: 12px;

}

.forgot{
    font-size: 80%;
    transform: translate(110px, -50px);
    color: gray;
    cursor: pointer;
}

body{
    background-color: #DCEAF0;
}